<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WatchFolder" value="E:\Thumbnails\Drop\"/>
    <add key="OutputFolder" value="E:\Thumbnails\Output\"/>
    <add key="MaxWidth" value="144"/>
    <add key="MaxHeight" value="144"/>
    <add key="SleepSeconds" value="5"/>
  </appSettings>
</configuration>