<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DefaultFormat" value="jpg"/>
    <add key="DefaultMaxHeight" value="144"/>
    <add key="DefaultMaxWidth" value="144"/>
    <add key="DefaultOutputFolder" value="Output"/>
    <add key="DefaultWatchFolder" value="Drop"/>
    <add key="DropFolderRegex" value="Drop((_W(?&lt;width&gt;\d+)(_H(?&lt;height&gt;\d+))?)|(_H(?&lt;height&gt;\d+)(_W(?&lt;width&gt;\d+))?)|(_M(?&lt;maxdim&gt;\d+)))?(_(?&lt;format&gt;jpg|png))?" />
    <add key="OutputFolderRoot" value="E:\Thumbnails\Output\"/>
    <add key="SleepSeconds" value="5"/>
    <add key="WatchFolderRoot" value="E:\Thumbnails\"/>
  </appSettings>
</configuration>